/*reset*/
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }
/*boody*/
body{
    background-color: rgb(209, 209, 209);
}
/*header*/
header{
    background-color: white;
}
h1{
    display: inline-block;
}
.container{
    margin: auto;
    margin-top: 30px;
    background-color: white;
    
}
/*button*/
.button-container{
    border-bottom: 1px solid gray;
   padding-left: 20px; 
   padding-top: 15px;
}

button{
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}
.add-task{
    background-color: rgb(61, 149, 221);
    color: white;
}
.add-section{
    color: gray;
}
/*list*/
.list{
    padding: 20px 20px;
}
ul{
    list-style: none;
}
li{
    padding: 10px;
}
span{
    display: inline-block;
    font-size: 0.7rem;
    color: white;
    border-radius: 10px;
    border: 1px solid;
    padding: 3px;

}
/* button list*/

.symbol{
    display: inline-block;
    border-radius: 50%;
    
}
.Editorial{
    background-color: rgb(64, 159, 223);
}
.Q1{
    background-color: rgb(149, 85, 221);
}
.Recruiting{
    background-color: rgb(40, 167, 103);
}
.Mobile{
    background-color: orange;
}
.sales{
    background-color: rgb(216, 83, 154);
}